<!-- put all this logic into web_guesser.rb -->

<html>
  <head>
    <style>
      <%= message[1] %>
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    <p>
      <%= message[0] %>

      <% if cheat %>
        <%= "Cheat mode enable: the secret number is #{number}" %>
      <% end %>
    </p>
  </body>
</html>