<!-- put all this logic into web_guesser.rb -->

<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    <p>
      <%= message %>
    </p>
  </body>
</html>